<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>VueJs01</title>
</head>
<body>
    <article>
    <h1>名前入力</h1>
    <div id="app">
        <p>入力結果：{{ name }}<p>
        <p>表示したいワードを入力：<input type="text" v-model="name"></p>
    <h1>年齢</h1>
        <p>入力結果：{{ age }}歳<p>
        <p>表示したいワードを入力：<input type="text" v-model="age"></p>
    </div>
</article>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="js/main.js"></script>

</body>
</html>
